.container-biodiversity h2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 35px;
}
.container-biodiversity {
    overflow-y: scroll;
    max-height: 100vh;
    width:100%;
}
.cards {
    margin: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.newsAnimal {
    border-style: solid;
    border-color: rgba(1, 21, 38, 1);
    border-width: 1px;
    border-radius: 5px;
    margin: 15px;
    width: 400px;
    height: 380px;
}

h2, .titleBiodiversity, .nameAnimal, .typeAnimal, .regionAnimal {
    color: rgba(1, 21, 38, 1);
}

.imageAnimal {
    object-fit: cover;
    max-width:400px;
}

.nameAnimal {
    font-weight: bold;
    font-size: 25px;
}

.newsAnimal p {
    line-height: 30px;
    margin-left: 10px;
}

@media (width <= 800px) {
    .cards {
        margin:0;
        gap:10px;
    }
    .newsAnimal {
        width: 100%;
        margin:0;
    }

    .container-biodiversity h2 {
        width:400px;
    }
}