* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.sectionNews {
    display: grid;
    width: 70%;
    height: 100vh;
    padding: 0 20px;
    overflow-y: scroll;
}

.titleNews {
    color: rgba(1, 21, 38, 1);
    text-align: center;
    font-size: 40px;
}

.newsItem {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: rgba(1, 21, 38, 1);
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 1.5em;
}

.articleTitle {
    font-size: 20px;
    margin-bottom: 15px;
}

.articleSnippet {
    line-height: 24px;
}

.articleTitle, .articleSnippet {
    margin: 0 25px;
    color: rgba(1, 21, 38, 1)
}

.articleLink {
    margin: 25px;
    margin-bottom: 20px;
    color: rgba(44, 89, 79, 1);
    text-decoration-line: underline;
}

.imgWrapper {
    width:400px;
}

.imageNews {
    border-radius: 5px;
    object-fit: cover;
    width:100%;
}

.titleNews {
    margin:16px 0;
}

@media (width <= 800px) {
    .sectionNews {
        width: 100%;
        padding:0;
    }

    .imgWrapper {
        width: 100%;
    }
    .newsItem {
        flex-direction: column;
        width: 100%;
        margin:0;
        padding:0 0 10px 0;
    }
    .articleTitle{
        margin:0;
    }

}

